<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sample Web App</title>

    <script type="text/html" id="list-template">
        <ul>
            <% _.each(obj, function(item) {
            %>
                <li><%= item.name %></li>
            <% }); %>
        </ul>
    </script>
</head>

<body>

    <p>Sample app.</p>

    <p>Pick a topic: <br />
        <select id="topics" size="3">
            <option value="artists">Artists</option>
            <option value="cars">Cars</option>
        </select>
    </p>


    <div id="ui"></div>

    <script src="libs/jquery.js"></script>
    <script src="libs/underscore.js"></script>
    <script src="libs/backbone.js"></script>

    <script src="app.js"></script>

</body>
</html>


